extends layout

block content
  body
    //header
    div(id="app")
    script(src="/react/chat.js" type="text/babel")
    script(src="/react/friends.js" type="text/babel")
    script(src="/react/search.js" type="text/babel")
    script(src="/react/mainpage.js" type="text/babel")