doctype html
html
  head
    title Mini Social Network
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.2/react.js" crossorigin)
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/15.6.2/react-dom.min.js" crossorigin)
    script(src="https://unpkg.com/react@15.6.2/dist/react.js" crossorigin)
    script(src="https://unpkg.com/react-dom@15.6.2/dist/react-dom.js" crossorigin)
    script(src="https://unpkg.com/babel-standalone@6/babel.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js")

  block content
